.c-result-data{
    background: green;
}

.c-close-btn{
    display: none;
}

/* Smaller width media query -- CSS */

@media screen and (max-width: 768px) {
    .container{
        margin: 0 0;
        position: relative;
        height: 100%;
        width: 100%;
    }
    .c-result-data {
        width: 100vw;
        background: red;
    }
    .c-router-data{
        position: absolute;
        top: 0;
        left: 0;
    }

    .c-close-btn{
        display: block;
        position: absolute;
        top: 0;
        right: 5px;
    }
}