<div *ngIf="locationData" class="c-data-wrapper">
    <p class="data-item">City-- {{locationData.city}}</p>
    <p class="data-item">Country-- {{locationData.country}}</p>
    <p class="data-item">Date-- {{locationData.date}}</p>
    <p class="data-item">AirQuality-- {{locationData.average}} {{locationData.unit}}</p>
    <p class="data-item">Location-- {{locationData.location}}</p>
    <p class="data-item">Latitude-- {{locationData.coordinates.latitude}}</p>
    <p class="data-item">Lon-- {{locationData.coordinates.longitude}}</p>
</div>
